@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');

body{

  font-family: 'Rubik', sans-serif;
  color: #17152D;
  font-size: 18px;
}


/* Component Content */
.content{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;

} 





/* Component Logo */
.logo{
  position: fixed;
  top:0px;
  left: 0px;
}

.logo h1, h2{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  line-height: 0.2em;
}

.logo h1{
  font-size: calc(2rem + 2vw);
}

.logo h2{
  font-size: calc(1rem + 1vw);
  color: #586470; 
}




